<script>

</script>
<script src="./js/jquery-3.6.0.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/sweetalert2.all.min.js"></script>
<script src="./js/core.js"></script>
<script src="./js/axios.min.js"></script>



</body>
</html>
<!-- Otros elementos.... de footer -->
