<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link href="./css/sweetalert2.min.css">
    <link href="./css/material_icon.css" rel="stylesheet">
    <title><%= tituloWeb %> </title>
</head>
<body>

    <%- include('./navbar') %> 