<%- include('../templates/header',{tituloWeb:"Node mascotas"}) %> 

<h1>Crear Mascota</h1>

<div class="container">
    <a class="btn btn-primary" href="/mascotas">Atrás</a>
</div>

<div class="container">

    <form action="/mascotas/crear" class="my-2" method="POST">

        <input 
            type="text"
            placeholder="Ingrese Nombre"
            class="form-control my-2"
            name="nombre"
        >
    
        <input 
            type="text"
            placeholder="Ingrese Descripción"
            class="form-control my-2"
            name="descripcion"
        >
    
        <button
            type="submit"
            class="btn btn-dark btn-block"
        >
            Agregar
        </button>
    
    </form>

</div>

<%- include('../templates/footer') %> 