<%- include('../templates/header',{tituloWeb:"Node mascotas"}) %> 

<h1>Editar Mascota</h1>

<div class="container">
    <a class="btn btn-primary" href="/mascotas">Atrás</a>
</div>

<div class="container">

    <form id="editar" data-id="<%= mascota.id %>">

        <input 
            type="text"
            placeholder="Ingrese Nombre"
            class="form-control my-2"
            name="nombre" 
            value=<%= mascota.nombre %> 
        >
    
        <input 
            type="text"
            placeholder="Ingrese Descripción"
            class="form-control my-2"
            name="descripcion"
            id="descripcion"
            value= <%= mascota.descripcion %> 
        >
    
        <button
            type="submit" id="editar"
            class="btn btn-dark btn-block"
        >
            Actualizar
        </button>
      
    </form>
    
    <button
        class="btn btn-danger btn-sm"
        data-id="<%= mascota.id %>"
        onclick="return confirm('¿Seguro desea eliminar registro?');"
    >
        Eliminar
    </button>

</div>

<script>
    const btnEliminar = document.querySelector('.btn-danger')
        btnEliminar.addEventListener('click', async() => {
        console.log(btnEliminar.dataset.id)  
        try {
            // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
            const data = await fetch(`/mascotas/${btnEliminar.dataset.id}`, {
                method: 'delete'
            })
            const res = await data.json()
            console.log(res)
            if(res.estado){
                window.location.href = '/mascotas'
            }else{
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
    })

    const formEditar = document.querySelector('#editar');

    formEditar.addEventListener('submit', async(e) => {
        e.preventDefault()
        // Alternativa #1 (capturar input)
        const nombre = formEditar.elements['nombre'].value
        // Alternativa #2 (capturar input)
        const descripcion = document.querySelector('#descripcion').value
        const id = formEditar.dataset.id 

        const data = await fetch(`/mascotas/${id}`, {
            method: 'PUT',
            headers: {
            'Content-Type': 'application/json'
            // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify({nombre, descripcion})
        })

        const res = await data.json()

        if(res.estado){
            window.location.href = '/mascotas'
        }else{
            console.log(res)
        }

    })

</script>

<%- include('../templates/footer') %> 