<%- include('../templates/header',{tituloWeb:"Node mascotas"}) %> 

<h1>Mascotas</h1>
<div class="container">
    <a href="mascotas/crear" class="btn btn-info">Crear nuevo</a>
</div>
<br>
<div class="container">
    <% if (arrayMascotas.length > 0) { %>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>            
            <% arrayMascotas.forEach(mascota => { %>
                <tr>
                    <td> <%= mascota.id %>  </td>
                    <td> <%= mascota.nombre %>  </td>
                    <td> <%= mascota.descripcion %>  </td>
                    <td>
                        <a href="#" onclick="vermascotas(event,'<%=mascota.id %>')"class="vermascota" title="Ver la mascota"><i class="material-icons button btn-primary">visibility</i></a>
                        <a href="/mascotas/editar?id=<%=mascota.id %>" title="Actualice la mascota"><i class="material-icons button btn-warning">drive_file_rename_outline</i></a>
                        <button class="eliminar" data-id="<%= mascota.id %>" title="Eliminar la mascota" onclick="return confirm('¿Seguro desea eliminar registro?');"><i class="material-icons button btn-danger">delete_forever</i></button>
                    </td>
                </tr>
            <% }) %>
            </tbody>

    <% } %>
</div>

<script>

     let vermascotas = (event,id) => {
        //debugger
        event.preventDefault()
        const params = {id}
        axios.post('/mascotas/see',params)
        .then(response=>response.data)
            .then(response=>{
                const html=`
                    <p>Id: ${id}</p>
                    <p>Nombre: ${response.mascota.nombre}</p>
                    <p>Descripción: ${response.mascota.descripcion}</p>
                    `
                swal.fire({
                    title: 'Resultados',
                    html: html,
                    icon: 'success',
                    confirmButtonText: 'Aceptar'
                })
            })
            .catch(error=>{
                swal.fire({
                    title: 'Resultados con error, mensaje',
                    html: error,
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                })
                console.log(error)
            })       
    } 

   
    const btnEliminar = document.querySelector('.eliminar')
        btnEliminar.addEventListener('click', async() => {
        console.log(btnEliminar.dataset.id)  
        try {
            // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
            const data = await fetch(`/mascotas/${btnEliminar.dataset.id}`, {
                method: 'delete'
            })
            const res = await data.json()
            console.log(res)
            if(res.estado){
                window.location.href = '/mascotas'
            }else{
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
    })
        

</script>

<%- include('../templates/footer') %> 

